@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    --black: #111111;
    --inActiv: rgba(255,255,255,0.5);
    background-color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: white;
    height: 100vh;
    margin: 0;
}

.pageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}

.linkBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px white solid;
    border-radius: 5px;
}

.linkBtn{
    margin: 0;
    font-size: 24px;
    padding: 10px;
    width: 120px;
    text-align: center;
    cursor: pointer;
}

.linkBtn.active{
    background-color: white;
    color: var(--black);
}

#gameInfo{
    --color: rgba(14, 54, 14, 1);
    --background-color: rgba(76, 159, 76, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: var(--color) 3px solid;
    border-radius: 15px;
    background-color: var(--background-color);
    font-weight: bold;
}

#gameInfoText{
    white-space: nowrap;
    color: var(--color);
    font-size: 40px;
}

#gameField{
    position: relative;
    --size: 160px;
    display: grid;
    grid-template-columns: var(--size) var(--size) var(--size);
    grid-template-rows: var(--size) var(--size) var(--size);
    background-color: #ffffff;
    gap: 5px;
    width: fit-content;
    height: fit-content;
}

#gameField > span{
    background-color: var(--black);
    height: 100%;
    line-height: var(--size);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

#gameField span:hover{
    cursor: pointer;
}

#scoreBoard{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    row-gap: 10px;
    column-gap: 5px;
}

#scoreBoard h1,
#scoreBoard h2{
    margin: 0;
    width: 100%;
    text-align: center;
    color: var(--inActiv);
}

.winAnimation{
    animation: winAnimation 0.9s 5 forwards;
}

@keyframes winAnimation {
    0%{
        color: white;
    }
    33%{
        color: rgba(255, 255, 255, 0.38);
    }
    100%{
        color: white;
    }
}

@media (max-width: 500px) {
    #gameField{
        --size: 100px;
    }

    #gameField > span{
        font-size: 60px;
    }

    #scoreBoard h1{
        font-size: 24px;
    }
    #scoreBoard h2{
        font-size: 20px;
    }
}
